@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  opacity: 0.8;
  background-image: linear-gradient(#111 1px, transparent 1px),
    linear-gradient(to right, #111 1px, #000000 1px);
  background-size: 50px 50px;
  overflow-x: hidden;
}

.title-name {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle-name {
  background: linear-gradient(to top, #0ff 30%, #02f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-effect__top {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(143, 143, 143, 0.67) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.border-effect__bottom {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(143, 143, 143, 0.67) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-gradient__effect {
  background: linear-gradient(
    360deg,
    rgba(80, 80, 80, 0.67) 0%,
    rgba(0, 0, 0) 90%
  );
}

.banner {
  background: linear-gradient(180deg, #0af6, #02f6);
  filter: blur(100px);
}

.effect-radiant {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0.8px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.shadow-effect__30 {
  filter: blur(30px);
  background-image: linear-gradient(#0ff 30%, #02f);
}

.shadow-effect__10 {
  filter: blur(15px);
}

.cursor {
  position: fixed;
  z-index: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #c6c6c6;
  filter: blur(80px);
  background-image: linear-gradient(#999 30%, #999);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.radiant-blue {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #02f 193deg,
    #333 217deg
  );
}

.radiant-gray {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #999 193deg,
    #333 217deg
  );
}

.border-effect__divider {
  background: linear-gradient(
    90deg,
    transparent 0%,
    #111 25%,
    #a0ff 50%,
    #111 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.radiant-divider {
  background: linear-gradient(180deg, #a0ff 50%, #00a7ff);
  filter: blur(50px);
}

.radiant-orange {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #f84f 193deg,
    #333 217deg
  );
}
.radiant-projects {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 30deg,
    #111f 49deg,
    #111f 70deg,
    #333 80deg,
    #333 150deg,
    #a0f7 163deg,
    #a0ff 173deg,
    #a0f7 193deg,
    #111f 200deg,
    #111f 230deg,
    #333 269deg
  );
}

.radiant-purple {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #a0ff 193deg,
    #333 217deg
  );
}

.scrollbar-none::-webkit-scrollbar {
  width: 0px;
}

.text-banner {
  text-wrap: balance;
}
