@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;

  overflow-x: hidden;
}

.title-name {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle-name {
  background: linear-gradient(to top, #0ff 30%, #02f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-effect__top {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(143, 143, 143, 0.67) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.border-effect__bottom {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(143, 143, 143, 0.67) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-gradient__effect {
  background: linear-gradient(
    360deg,
    rgba(80, 80, 80, 0.67) 0%,
    rgba(0, 0, 0) 90%
  );
}

.banner {
  background: linear-gradient(180deg, #a0f2, #a0f4, #a0f4, #a0f2);
  filter: blur(100px);
}

.effect-radiant {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0.8px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.shadow-effect__30 {
  filter: blur(30px);
  background-image: linear-gradient(#0ff 30%, #02f);
}

.shadow-effect__10 {
  filter: blur(15px);
}

.cursor {
  position: fixed;
  z-index: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #c6c6c6;
  filter: blur(80px);
  background-image: linear-gradient(#999 30%, #999);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.radiant-blue {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #02f 193deg,
    #333 217deg
  );
}

.radiant-gray {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #999 193deg,
    #333 217deg
  );
}

.border-effect__divider {
  background: linear-gradient(
    90deg,
    transparent 0%,
    #111 25%,
    #a0ff 50%,
    #111 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.radiant-divider {
  background: linear-gradient(180deg, #a0ff 50%, #00a7ff);
  filter: blur(50px);
}

.radiant-orange {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #f84f 193deg,
    #333 217deg
  );
}

.radiant-example {
  background: conic-gradient(
    from 0deg at 50% 50%,
    transparent 117deg,
    #f84f 200deg,
    #333 217deg,
    transparent
  );
}

.radiant-projects {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333a 0deg,
    #999 10deg,
    #9997 20deg,
    #333a 70deg,
    #333a 80deg,
    #333a 170deg,
    #9997 173deg,
    #999 183deg,
    #9997 193deg,
    #222a 199deg,
    #222a 200deg,
    #222a 210deg,
    #222a 229deg,
    #222a 239deg,
    #222a 249deg,
    #333a 259deg
  );
}

.radiant-purple {
  background: conic-gradient(
    from 220deg at 50% 50%,
    #333 0deg,
    #333 176deg,
    #a0ff 193deg,
    #333 217deg
  );
}

.scrollbar-none::-webkit-scrollbar {
  width: 0px;
}

.text-banner {
  text-wrap: balance;
}
.text-pretty {
  text-wrap: pretty;
}

.lines-left {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  padding: 0 0px 1px 1px;
  border-radius: inherit;
}

.lines-right {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  padding: 1px 1px 0px 0px;
  border-radius: inherit;
}

.radiant-lines__left {
  background: conic-gradient(
    #fff,
    #a0f 3%,
    #a0f 6%,
    #a0f7 10%,
    transparent 14.9%
  );
  animation: rotateRight 3s ease infinite reverse;
}

.radiant-lines__br {
  background: conic-gradient(
    #fff,
    #a0f 3%,
    #a0f 6%,
    #a0f7 10%,
    transparent 12.9%
  );
  animation: rotateRight 3s ease infinite reverse;
}

.radiant-lines__right {
  background: conic-gradient(
    from 220deg,
    transparent,
    #a0f7 3%,
    #a0f 6%,
    #a0f 10%,
    #fff 14.9%,
    transparent 17.9%
  );
  animation: rotateLeft 3s ease infinite;
}
.radiant-lines__right__mobile {
  background: conic-gradient(
    from 50deg,
    #fff,
    #a0f 3%,
    #a0f 6%,
    #a0f7 10%,
    transparent 12.9%
  );
  animation: rotateRightMobile 3s ease infinite reverse;
}
.radiant-lines__bottom {
  background: conic-gradient(
    #fff,
    #a0f 3%,
    #a0f 6%,
    #a0f7 10%,
    transparent 12.9%
  );
  animation: rotateBottom 5s linear infinite reverse;
}

.bg-bottom-transparent {
  background-image: linear-gradient(to bottom, #444 80%, transparent);
}

.radiant-lines__experience {
  background: conic-gradient(
    from 190deg,
    transparent 20%,
    #fff 20.5%,
    #a0f 21%,
    #a0f7 25%,
    #333 26%
  );
  animation: rotateExperience 3s ease infinite reverse;
}

@keyframes rotateExperience {
  0% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBottom {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRightMobile {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scrollGradient {
  background:
    linear-gradient(#000 33%, rgba(255, 46, 46, 0)),
    linear-gradient(transparent, #000 66%) 0 100%,
    linear-gradient(180deg, rgb(30, 30, 30), rgba(0, 0, 0)),
    linear-gradient(rgba(0, 0, 0), rgb(30, 30, 30)) 0 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size:
    100% 0px,
    100% 0px,
    100% 27px,
    100% 19px;
}
